/*

Theme Name: YardNine
Description: Dedicated Wordpress theme for Company Name

*/

/* GF */

/*** Bootstrap ***/
.gf-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.gf-col-xs-6, .gf-col-sm-6, .gf-col-md-3, .gf-col-md-4, .gf-col-md-5, .gf-col-md-6, .gf-col-md-7, .gf-col-md-8, .gf-col-md-9, .gf-col-md-10, .gf-col-lg-6, .gf-col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.gf-row {
  margin-right: -15px;
  margin-left: -15px;
}
.gf-row:before,
.gf-row:after {
  display: table;
  content: " ";
}
.gf-row:after {
	clear: both;
}
.gf-col-xs-6 {
	width: 50%;
}
@media (min-width: 768px) {
  .gf-container {
    width: 750px;
  }
  .gf-col-sm-6 {
  	width: 50%;
  	float: left;
  }
}
@media (min-width: 992px) {
  .gf-container {
    width: 970px;
  }
  .gf-col-md-12 {
  	width: 100%;
  	float: left;
  }
  .gf-col-md-5 {
    width: 41.66666667%;
    float: left;
  }
  .gf-col-md-6 {
  	width: 50%;
  	float: left;
  }
  .gf-col-md-7 {
	width: 58.33333333%;
  	float: left;
  }
  .gf-col-md-8 {
	width: 66.66666667%;
  	float: left;
  }
  .gf-col-md-9 {
  	width: 75%;
  	float: left;
  }
  .gf-col-md-10 {
    width: 83.33333333%;
    float: left;
  }
  .gf-col-md-3 {
	width: 25%;
  	float: left;
  }
  .gf-col-md-4 {
  	width: 33.33333333%;
  	float: left;
  }
}

@media (min-width: 1400px) {
  .gf-col-lg-12 {
    width: 100%;
    float: left;
  }
  .gf-col-lg-5 {
    width: 41.66666667%;
    float: left;
  }
  .gf-col-lg-6 {
    width: 50%;
    float: left;
  }
  .gf-col-lg-7 {
  width: 58.33333333%;
    float: left;
  }
  .gf-col-lg-8 {
  width: 66.66666667%;
    float: left;
  }
  .gf-col-lg-9 {
    width: 75%;
    float: left;
  }
  .gf-col-lg-10 {
    width: 83.33333333%;
    float: left;
  }
  .gf-col-lg-3 {
  width: 25%;
    float: left;
  }
  .gf-col-lg-4 {
    width: 33.33333333%;
    float: left;
  }
}

/*********** News page ***********/
.post-type-archive-news #menu-main-menu li:nth-child(6) a {
	color: #003b49;
}
.bottom-news-container {
  margin-top: 50px;
}
.news__wrapper ul {
  margin: 0;
}
.news-item {
	list-style: none;
    margin-bottom: 60px;
}
.news-item-3 {
  list-style: none;
  margin-top: 101px;
}
@media (min-width: 992px) {
  .news-item-3 {
    padding-right: 25px;
  }
}
@media (min-width: 1400px) {
  .news-item-3 {
    margin-top: 47.3%;
    padding-right: 60px;
  }
}
.news-item h3 {
	font-size: 24px;
	margin-top: 0;
}
.news-item-3 h3{
  margin-top: 0;
}
.excerpt p {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
}
.featured-img {
	width: 100%;
	height: 200px;
  background-position: center;
  background-size: cover;
}
.featured-img img {
	height: 100%;
}
.featured-img-main {
  min-height: 370px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1400px) {
  .featured-img-main {
    min-height: 460px;
  }
}
.featured-img-2 {
  height: 268px;
  background-position: center;
  background-size: cover;
}
.featured-img-2 img {
  width: 330px;
  height: 280px;
}
.datepublished {
	font-size: 14px;
	color: #d3d3d3;
	padding-top: 10px;
    padding-bottom: 10px;
}
.alm-load-more-btn {
	float: left;
}
.ajax-load-more-wrap.grey .alm-load-more-btn {
	background-color: #fff !important;
}
.alm-btn-wrap .alm-load-more-btn {
  padding-left: 55px !important;
}
.width550 {
  width: 550px;
}
.featured-post {
  width: 400px;
  margin-left: 24%;
}

.alm-btn-wrap .alm-load-more-btn {
	color: #d9d9d9 !important;
}
.alm-btn-wrap .alm-load-more-btn.done {
	opacity: 1 !important;
}

@media (min-width: 992px) {
  /*.post-type-archive-news .simple-content__wrapper {
    padding-top: 80px;
  }*/
  ul.second-news-item .text-content {
    margin-left: 90px;
  }
  .first-news-item {
    margin-left: 30px;
  }
  .featured-post {
    margin-left: 30px;
  }
}
@media (min-width: 1400px) {
  ul.second-news-item .text-content {
    margin-left: 70px;
  }
  .first-news-item {
    margin-left: 40px;
  }
  .featured-post {
    margin-left: 24%;
  }
}


@media screen and (max-width: 1040px) {
  .wp-post-navigation {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .single-news .about__content-wrapper {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 991px) {
  /*.news-item {
    height: auto;
  }
  .news-item2 {
    height: auto;
  }*/
  .news-item-3 {
    height: auto;
    width: 100% !important;
    margin-bottom: 7%;
    /*margin-left: 2%;*/
  }
  /*.featured-img {
    height: 400px;
  }*/
  ul {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
/*.mobile-padding {
    margin-left: 20% !important;
    width: 500px;
}*/
/*.height200mobile {
    height: 200px !important;
}*/
/*.news-item-3 {
    margin-top: 10%;
}*/
/*.news-item h3 {
  width: 80%;
}*/
/*.news-item-3 h3 {
  width: 80%;
}
.excerpt {
  width: 75%;
}*/
.featured-post {
    width: 100%;
    margin-left: 0;
}
.intro-text {
  padding-top: 0 !important;
}
.featured-img-main,
.featured-img-2 {
    height: 200px;
    min-height: 200px;
  }
/*.featured-img-2 img {
    width: 100% !important;
    height: 350px !important;
}*/
}

@media screen and (max-width: 550px) {
  .featured-img  {
    height: 200px;
  }
  
/*  .mobile-padding {
    margin-left: 38% !important;
    width: 300px;
}*/
  /*.post-type-archive-news .simple-content__wrapper {
    padding-top: 0;
  }*/
  .post-type-archive-news header.page-main.global-header {
    padding-top: 26px !important;
  }
}
@media screen and (max-width: 405px) {
/*    .mobile-padding {
    margin-left: 32% !important;
    width: 250px;
}*/
}
/*********** News posts pages ***********/
.single .single-news #menu-main-menu li:nth-child(6) a {
	color: #003b49;
}
.single-news .about__content-wrapper {
  margin-left: 20%;
}

@media screen and (max-width: 768px) {
  .single-news .about__content-wrapper {
    margin-left: auto;
  }
}

.news-post-featuredimage {
	padding-bottom: 40px;
}
.lightgrey {
	color: #d9d9d9;
}
.post-wysiwyg-text p {
	padding-bottom: 40px;
}
.intro-text {
	font-size: 24px;
	line-height: 32px;
	padding-top: 30px;
}
.ending-paragraph {
	padding-top: 60px;
}
.other-image {
	margin-top: -20px;
}
.wp-post-navigation-pre-1 {
  position: absolute !important;
  left: 150%;
  top: 0%;
}
.wp-post-navigation-pre-1 img {
  width: 80px;
}
.wp-post-navigation-next-1 {
    position: absolute !important;
    left: -60%;
    top: 0;
}
.wp-post-navigation-next-1 img {
  width: 109px;
}
.wp-post-navigation div a:after {
  display: none;
}

/* Related news section */
.related-news {
	background-color: #003440;
	padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: -120px; /* Touch footer, no gap */
}
.related-news h3 {
	color: #fff;
}
.featured-img2 {
	width: 100%;
	height: 200px;
  background-size: cover;
  background-position: center center;
}
.news-item2 {
	list-style: none;
}
.no-margintop {
	margin-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .featured-img2 {
    height: 150px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
/*  .news-item {
    height: auto;
  }*/
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .excerpt {
    width: 80%;
  }
  .featured-img-2 img {
    width: 100%;
    height: 400px;
  }
  .featured-post {
    width: auto;
  }
  .news-item-3 {
    margin-top: 0%;
}
  .margin-left20 {
    margin-left: 0% !important;
  }
  .gf-col-md-4 {
    width: 37.333333%;
  }
  .tablet-margintop10 {
    margin-top: 10%;
  }
}