/* ############ FONTS ############ */

@font-face {
    font-family: 'BrownRegular';
    src: url('../fonts/BrownRegular.eot');
    src: url('../fonts/BrownRegular.eot') format('embedded-opentype'),
         url('../fonts/BrownRegular.woff2') format('woff2'),
         url('../fonts/BrownRegular.woff') format('woff'),
         url('../fonts/BrownRegular.ttf') format('truetype'),
         url('../fonts/BrownRegular.svg#BrownRegular') format('svg');
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
         url('../fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/* ############ GLOBAL ############ */

html, body {
	height: 100%;
	font-family: 'Circular Std';
	color: #99a4ab;
	cursor: default;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

body {
	background-color:#ffffff;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
    background: #e8e1dc;
    text-shadow: none;
}

::selection {
    background: #e8e1dc;
    text-shadow: none;
}

a {
	text-decoration: none;
}

a:hover{
	opacity:0.6;
}

b, strong {
	font-weight: normal;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: none;
}

h1{
	font-size:30px;
	color:#333544;
}
h2{
	font-size:18px;
}

h3{
	font-size:30px;
	color:#a0a0be;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

p {
}

ol, ul, li {
	list-style: none;
}

ul, menu, dir, li {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.mobi {
	display: none;
}

.visible {
	-webkit-transition: all 1s;
    transition: all 1s;
	opacity: 1 !important;
}

.clearfix:after{
	display:table;
	clear:both;
	content:"";	
}

.container-fluid{
	padding-left:0px;
	padding-right:0px;
}
.container {
	width:100%;
	max-width:2000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
	.container {
		width:90%;
		padding-right: 30px;
    	padding-left: 30px;
    	height: calc(100vh - 25vh);
		display: flex;
		flex-flow: row wrap;
	}
	.row{
		margin-right: -30px;
	    margin-left: -30px;	
	}
	[class*='col-']{
		padding-right: 30px;
	    padding-left: 30px;
	}
}

@media screen and (min-width: 1500px) {
	.container {
		height: calc(100vh - 40vh);
	}
}


/* SLIDER */
.yardnine-slider{
	z-index:0;
}
.yardnine-slider .yardnine-slide{
	width:100%;
	height:100vh;
	background-size:cover;
	background-position:center bottom;
	background-repeat:no-repeat;
}
.yardnine-slider .yardnine-slide1{
	background-image:url('../images/image1.jpg');
}
.yardnine-slider .yardnine-slide2{
	background-image:url('../images/image2.jpg');
}
.yardnine-slider .yardnine-slide3{
	background-image:url('../images/image3.jpg');
}


/* CONTENT */
.content {
	padding-top:25vh;
	position:absolute;
	bottom:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	height:100vh;
	overflow: hidden;
	background-color:#ffffff;
	-webkit-transition: padding 1s ease-out, height 1s ease-out;
  	-moz-transition: padding 1s ease-out, height 1s ease-out;
  	-o-transition: padding 1s ease-out, height 1s ease-out;
  	transition: padding 1s ease-out, height 1s ease-out;
}
.content.small{
	-webkit-transition: all 1s ease-out;
  	-moz-transition: all 1s ease-out;
  	-o-transition: all 1s ease-out;
  	transition: all 1s ease-out;/*
	    -webkit-transition: padding 1s ease-out, height 1s ease-out;
  	-moz-transition: padding 1s ease-out, height 1s ease-out;
  	-o-transition: padding 1s ease-out, height 1s ease-out;
  	transition: padding 1s ease-out, height 1s ease-out;*/
	padding-top:20px;
	height:80px;
	position: fixed;
}
/*.content.ios {
	bottom: -80px;
	min-height: 100vh;
}*/
@media screen and (min-width: 992px) {
	.content.small{
		-webkit-transition: all 1s ease-out;
	  	-moz-transition: all 1s ease-out;
	  	-o-transition: all 1s ease-out;
	  	transition: all 1s ease-out;
	}
}
@media screen and (min-width: 1500px) {
	.content {
		padding-top:40vh;
	}
}
.content.open {
	overflow: visible;
}


.logo{
	width: 620px;
	-webkit-transition: all 1s ease-out;
  	-moz-transition: all 1s ease-out;
  	-o-transition: all 1s ease-out;
  	transition: all 1s ease-out;
	max-width: 80%;
}
@media screen and (min-width: 992px) {
	.logo{
		max-width: 100%;
	}
	.content.small .logo{
		-webkit-transition: all 1s ease-out;
	  	-moz-transition: all 1s ease-out;
	  	-o-transition: all 1s ease-out;
	  	transition: all 1s ease-out;
		width: 210px;
	}
}
@media screen and (min-width: 1500px) {
	.logo{
		width: 800px;
	}
}


@media screen and (max-width: 787px) {
	.content {
		-webkit-transition: padding 1s ease-out, height 1s ease-out, bottom 1s ease-out;
	  	-moz-transition: padding 1s ease-out, height 1s ease-out, bottom 1s ease-out;
	  	-o-transition: padding 1s ease-out, height 1s ease-out, bottom 1s ease-out;
	  	transition: padding 1s ease-out, height 1s ease-out, bottom 1s ease-out;
	}
	.content.open {
		-webkit-transition: padding 1s ease-out 1s, height 1s ease-out, bottom 1s ease-out;
	  	-moz-transition: padding 1s ease-out 1s, height 1s ease-out, bottom 1s ease-out;
	  	-o-transition: padding 1s ease-out 1s, height 1s ease-out, bottom 1s ease-out;
	  	transition: padding 1s ease-out 1s, height 1s ease-out, bottom 1s ease-out;
		height:calc(100vh + 80px);
		bottom: -80px;
	}
}

.arrow {
	position: absolute;
	top: 20px;
	right: 40px;
	max-width: 30px;
	margin-top: 12px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all .3s ease-out;
  	-moz-transition: all .3s ease-out;
  	-o-transition: all .3s ease-out;
  	transition: all .3s ease-out;
	transform: translateY(100%);
}
.arrow.active {
	opacity: 1;
	transform: translateY(0);
}
.arrow.active.open {
	transform: translateY(0) rotate(180deg);
}
@media screen and (max-width: 991px) {
	.arrow.active.open {
		top: 100px;
	}
}

.main-content {
	color: #003b49;
	margin-top: 10vh;
	opacity: 0;
	-webkit-transition: all .3s ease-out;
  	-moz-transition: all .3s ease-out;
  	-o-transition: all .3s ease-out;
  	transition: all .3s ease-out;
	align-self: flex-end;
}
.main-content.active {
	opacity: 1;
}
@media screen and (min-width: 768px) {
	.main-content {
		margin-bottom: 8vh;
		margin-top: 0;
	}
}


.main-content h2 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 60px;
	line-height: 1.2;
}

.main-content p {
	font-size: 20px;
	margin-bottom: 24px;
}
.main-content p a {
	color: #003b49;
	text-decoration: underline;
}
.twitter {
	margin-top: 10px;
	display: inline-block;
	margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
	.main-content h2 {
		font-size: 40px;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 1500px) {
	.main-content h2 {
		font-size: 50px;
	}
	.main-content p {
		font-size: 24px;
	}
}



@media only screen and (max-width: 1199px) {
	
	
}

@media only screen and (max-width: 991px) {
	
	
	
}


@media only screen and (max-width: 767px) {
	.main-content p .break {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	
	
}

@media only screen and (max-width: 500px) {
	
	
	
}


@media only screen and (max-width: 400px) {
	
	
	
	
	
}