/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.37em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/**
 * Base styles that aim to normalize fonts, and display of elements
 * across browsers, and make writing further styles easier.
 */

/* Set font and clear body padding */

html,
button,
input,
select,
textarea {
  font-family: "Circular Std";
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 18px;
  line-height: 26px;
  color: #003b49;
  background-color: #ffffff;
  font-weight: 300;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-x: hidden;
}

body.home {
  opacity: 0;
}

body.lock {
  overflow: hidden;
}

/* Setting sizes is much more predictable with border-box */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Make all images responsive */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Normalize links across browsers */

a {
  color: #003b49;
  text-decoration: none;
  font-size: 19px;
}

a img {
  border: 0;
}

a:focus,
a:hover {
  color: #003b49;
}

/* Make inputs on iOS look normal */

input {
  -webkit-appearance: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

/**
 * WordPress specific base styles.
 */

.gm-style img {
  max-width: none;
}

.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Make WordPress media inserted to post behave correctly */

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.alignnone {
  display: inline-block;
}

.aligncenter {
  display: block;
  margin: 20px auto;
  clear: both;
  text-align: center;
}

/* Make a 404 page look nicer and more readable */

.error404 {
  text-align: center;
}

.error404 ul {
  text-align: left;
}

.navigation.pagination {
  clear: both;
}

/* WP navigation menus are lists, but they don't need default list styling */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul:before,
nav ul:after {
  content: '';
  display: table;
}

nav ul:after {
  clear: both;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

p {
  margin: 0;
}

h1 {
  font-size: 54px;
  line-height: 1.1em;
  letter-spacing: -0.8px;
}

h2 {
  line-height: 1.1em;
}

h4 {
  margin: 0 0 30px 0;
  font-size: 19px;
  line-height: 1em;
  font-weight: 500;
}

footer.page-main {
  background-color: #ededed;
  padding-top: 72px;
  padding-bottom: 50px;
  position: relative;
  margin-top: 120px;
}

/*footer.page-main::before {
  content: '';
  position: absolute;
  top: -79px;
  left: 0;
  width: 100%;
  background-color: #ededed;
  height: 80px;
  z-index: -1;
}*/

.sub-footer {
  margin-top: 31px;
}

.sub-footer a {
  font-size: 10px;
}

.sub-footer > * {
  letter-spacing: -0.5px;
  margin-right: 6px;
  position: relative;
  font-size: 10px;
}

.sub-footer > *:last-child::after {
  display: none;
}

.sub-footer > *:after {
  content: '';
  display: block;
  height: 7px;
  width: 1px;
  position: absolute;
  background: #003b49;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -5px;
}

.footer__items-wrapper:before,
.footer__items-wrapper:after {
  content: '';
  display: table;
}

.footer__items-wrapper:after {
  clear: both;
}

.footer__social-wrapper {
  float: right;
  margin-top: -3px;
  margin-right: -11px;
}

.footer__social-wrapper a {
  margin: 0 5px;
}

.footer__social-wrapper a:last-child {
  margin: 0 0 0 5px;
}

.footer__text-wrapper {
  float: left;
}

.footer__text-wrapper p {
  line-height: 20px;
  font-size: 18px;
}

.footer__text-wrapper p a {
  font-size: 14px;
}

.single footer.page-main::before {
  z-index: 0;
}

header.page-main {
  position: relative;
  padding: 26px 0 17px;
  background: #ffffff;
  transition: background-color 0.3s ease-in-out, padding-top 0.3s ease-in-out;
  z-index: 50;
}

header.page-main .logo__wrapper {
  width: 165px;
  float: left;
  position: relative;
  opacity: 1;
  transition: 0.2s opacity ease-in-out;
}

header.page-main .logo__wrapper.visible {
  opacity: 1;
}

header.page-main .logo__wrapper > a {
  display: block;
}

@media screen and (max-width: 767px) {
  header.page-main nav {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 93px 0;
    background: white;
    z-index: 200;
  }
}
@media screen and (min-width: 768px) {
  header.page-main nav {
    display: block!important;
  }
}

header.page-main.bg-transparent {
  background: transparent;
  position: fixed !important;
  width: 100%;
  padding-top: 68px !important;
}

header.page-main.bg-transparent .btn-hamburger span {
  background-color: #fff;
}

header.page-main.bg-transparent .logo__wrapper {
  width: 239px;
  opacity: 1;
  transition: width 0.3s ease-in-out;
}
header.page-main.bg-transparent.change-bg-style .logo__wrapper {
  width: 165px;
}

header.page-main.global-header {
  padding-top: 85px !important;
}

header.page-main.global-header .logo__wrapper {
  opacity: 1 !important;
}

header.page-main.change-bg-style {
  background-color: #fff;
  padding-top: 20px !important;
}

header.page-main.change-bg-style .btn-hamburger span {
  background-color: #003b49;
}

header.page-main.change-bg-style .color-logo {
  opacity: 1;
}

.color-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*opacity: 0;*/
  transition: opacity 0.3s ease-in-out;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

@media screen and (max-width: 767px) {
  #menu-main-menu,
  #menu-single-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #menu-main-menu .menu-item,
  #menu-single-menu .menu-item {
    margin: 0 0 31px 0;
  }
  #menu-main-menu .menu-item a,
  #menu-single-menu .menu-item a {
    font-size: 45px;
  }
}

#menu-main-menu .menu-item a,
#menu-single-menu .menu-item a {
  color: #d9d9d9;
  font-weight: 500;
}
#menu-main-menu .menu-item a:hover,
#menu-single-menu .menu-item a:hover {
  color: #003b49;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}
@media screen and (min-width: 768px) {
  #menu-main-menu,
  #menu-single-menu {
    text-align: right;
    margin-top: 10px;
  }
  #menu-main-menu .menu-item,
  #menu-single-menu .menu-item {
    display: inline-block;
    margin-left: 25px;
  }
  #menu-main-menu .menu-item a,
  #menu-single-menu .menu-item a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
  }
}

/*#menu-main-menu .current-menu-item a {
  transition: color 0.5s ease-in-out;
}*/

#menu-main-menu .active a,
#menu-single-menu .active a {
  color: #003b49;
}

.change-font-size {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.01em;
  max-width: 850px;
  display: block;
  width: 50%;
}

.change-font-size a {
  font-size: 24px;
  line-height: 38px;
}

.noscroll {
  overflow: hidden;
}

.simple-content__wrapper {
  padding: 110px 0 100px;
  width: 1280px;
  margin: 0 auto;
}

.simple-content__wrapper p {
  letter-spacing: -0.029em;
}

.simple-content__projects-page {
  padding-bottom: 83px;
  padding-top: 151px;
}

.simple-content__projects-page .change-font-size {
  width: 50%;
  display: block;
  max-width: 850px;
}

.col-3-item {
  float: left;
  width: 29%;
  margin-right: 5.5%;
  padding-top: 18px;
}

.col-3-item:last-of-type {
  margin-right: 0;
}

.next-text {
  width: 100%;
  max-width: 400px;
  display: inline-block;
  padding-top: 4px;
  padding-left: 5px;
}

.clearfix {
  clear: both;
}

.clearfix + p {
  padding-top: 7px;
}

.clearfix + p img {
  position: relative;
  top: -7px;
}

.alignleft {
  margin-right: 14%;
  margin-bottom: 40px;
}

.alignright {
  margin: 0 28px 40px 14%;
}

.container-error {
  margin-top: 50px;
  margin-bottom: 50px;
}

.error404 header.page-main .logo__wrapper {
  opacity: 1;
}

.error404 .color-logo {
  opacity: 1;
}

.error404 footer {
  text-align: left;
}

.contact__main-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0 0;
}

.contact__map {
  -webkit-flex: 0 0 63%;
      -ms-flex: 0 0 63%;
          flex: 0 0 63%;
  max-width: 840px;
  width: 100%;
  height: 659px;
  display: inline-block;
}

.contact__map .acf-map {
  height: 100%;
}

.contact__text-wrapper {
  -webkit-flex: 0 0 34%;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
  max-width: 34%;
  width: 34%;
  padding: 3px 0 0 0;
  display: inline-block;
  vertical-align: top;
}

.contact__text-wrapper h4 {
  margin: 0 0 52px 0;
}

.contact__text-wrapper .change-font-size {
  display: block;
  max-width: 100%;
  width: 100%;
  padding-left: 5px;
}

.contact__text-wrapper .change-font-size p:last-child {
  margin-top: 23px;
}

.contact__text-wrapper .change-font-size p a {
  display: block;
}

.contact__text-wrapper .change-font-size a + br {
  display: none;
}

.btn-hamburger {
  cursor: pointer;
  float: right;
  border: none;
  padding: 0;
  outline: none;
  position: relative;
  background: none;
  display: none;
  transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  margin: 2px 0 0 0;
}
@media screen and (max-width: 767px) {
  .btn-hamburger {
    display: block;
  }
}

.btn-hamburger span {
  display: block;
  width: 32px;
  height: 3px;
  margin-bottom: 9px;
  background-color: #0b1c4d;
}

.btn-hamburger span:first-child {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition-delay: 0.4s;
}

.btn-hamburger span:nth-child(3) {
  transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition-delay: 0.4s;
}

.btn-hamburger span:nth-child(4) {
  width: 3px;
  height: 0;
  position: absolute;
  top: -2px;
  left: 60%;
  margin-left: -5px;
  transition: height 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 10;
}

.btn-hamburger.is-open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition-delay: 0.4s;
}

.btn-hamburger.is-open span:first-child {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.btn-hamburger.is-open span:nth-child(3) {
  width: 0;
  transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.btn-hamburger.is-open span:nth-child(4) {
  height: 32px;
  transition: height 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition-delay: 0.3s;
}

.plus {
  display: inline-block;
  background: #BBBBBB;
  height: 10px;
  position: relative;
  width: 2px;
  margin: 0 0 0 5px;
  transition: 0.2s background ease-in-out;
  cursor: pointer;
}

.plus:after {
  background: #BBBBBB;
  content: "";
  height: 2px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.plus-member,
.plus-member:after {
  background: #003b49;
}

.plus.open {
  background: transparent;
}

.section__title {
  font-size: 24px;
  letter-spacing: -1px;
  color: rgba(0, 0, 0, 0.27);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  top: 41.5%;
  left: 2px;
}

.member-item {
  margin-right: 22px;
}

.member-item__image {
  margin: 0 0 25px 0;
}

.member-item__image img {
  width: 100%;
}

.member-item__name {
  display: inline-block;
  cursor: pointer;
  margin: 0 0 23px 0;
}

.member-item__name h4 {
  letter-spacing: -0.01em;
  margin: 0;
  font-weight: 300;
}

.member-item__description {
  font-size: 14px;
  line-height: 1.429em;
  width: 409px;
  padding: 0 0 0 3px;
  display: none;
}

.projects__main-wrapper {
  padding: 20px 0 70px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.projects__wrapper {
  overflow: hidden;
}

.projects__link {
  display: inline-block;
  letter-spacing: 0.01em;
}

.projects__tittle {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.27);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  top: 45.5%;
  left: 0;
  letter-spacing: -2px;
  padding-bottom: 12px;
}

.projects__item {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 478px;
  margin: 0 0 35px 0;
  cursor: url(../images/cursor.png), url(../images/cursor.cur), auto;
}

.home .projects__item {
  cursor: url(../images/cursor-blue.png), url(../images/cursor-blue.cur), auto;
}

.projects__item.full-width {
  width: 100%;
  height: 0;
  padding-top: 62.7%;
}

.projects__item.medium-width {
  width: 843px;
}

.projects__item.small-width {
  width: 404px;
}

.projects__item-info {
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #003b49;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 24px;
  background-color: transparent;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.projects__item-info .item-info-text-wrapper {
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.projects__item-info .location-item {
  font-size: 16px;
  display: block;
  margin-bottom: 17px;
}

.projects__item-info .location-item + span {
  font-size: 24px;
}

.projects__item-info:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

.page-template-tpl-projects .projects__item-info:hover {
  color: white;
  background-color: rgba(0, 59, 73, 0.9);
}

.grid-sizer {
  width: 400px;
}

.projects-page {
  padding-bottom: 0;
  margin-bottom: -48px;
  position: relative;
  z-index: 10;
  min-height: 200px;
}

.filter__wrapper {
  margin-bottom: 55px;
}

.filter__wrapper button {
  font-size: 14px;
  letter-spacing: 0.14em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(0,0,0,.3);
  margin-right: 41px;
  padding: 0;
  outline: none;
}

.filter__wrapper button:last-of-type {
  margin-right: 0;
}

.filter__wrapper button.active-filter,
.filter__wrapper button:hover {
  color: #003b49;
  text-decoration: underline;
}

.change-to-dropdown .dropdown-icon {
  display: none;
  width: 10px;
  height: 10px;
  border-left: 1px solid #003b49;
  border-bottom: 1px solid #003b49;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
  position: absolute;
  top: 38%;
  right: 15px;
}

.intro-section {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  height: 100vh;
  cursor: url(../images/arrow-down.png), url(../images/arrow-down.cur), auto;
}

.intro-section__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
}

.intro-section__logo {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  top: 48.5%;
  left: 50%;
  width: 573px;
  height: 108px;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro-section__logo img {
  width: 573px;
}

.intro-section .show-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.intro-section__text-wrapper {
  position: absolute;
  bottom: 5%;
  /*max-width: 1280px;
  width: 100%;*/
  left: 5%;
  /*-webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);*/
}

.intro-section__text-wrapper p {
  color: #fff;
  font-size: 24px;
  line-height: 38px;
  max-width: 460px;
}

.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #fff;
  transition: height 3s linear;
}

.scroll-item {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(90deg);
          transform: translate(-50%, 0) rotate(90deg);
  z-index: 10;
}

.about__main-wrapper {
  position: relative;
  padding: 115px 0 106px;
  max-width: 1440px;
  margin: 0 auto;
}

.about__content-wrapper {
  width: 65.625%;
  margin: 0 0 0 34.375%;
}

.partnership__content-wrapper {
  width: 100%;
  margin: 0 0 0 0;
}

.about__text-wrapper {
  margin: 0 0 54px 0;
}

.partnership__text-wrapper {
  width: 34%;
  display: inline-block;
  margin: 0 0 0 5%;
}
.partnership__text-wrapper .change-font-size {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
}

.home .about__text-wrapper .change-font-size,
.home .partnership__text-wrapper .change-font-size {
  font-size: 18px;
  line-height: 30px;
}

.about__text-wrapper h4 {
  letter-spacing: -0.02em;
}

.about__text-wrapper .change-font-size {
  letter-spacing: 0.005em;
  max-width: 78%;
  width: 78%;
}

.about__title {
  left: 4px;
}

/*.logo-slide {
  width: 100%;
}
.logo-slide img {
  width: 100%;
}*/

.partnership__title {
  left: -10px;
  top: 50%;
}

.partnership__image {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.about__wrapper,
.partnership_logos__wrapper {
  position: relative;
}

.partnership_logos__wrapper {
  margin-top: 30px;
}

.about__wrapper .slick-arrow,
.partnership_logos__wrapper .slick-arrow {
  display: block;
  position: absolute;
  cursor: pointer;
}

.about__wrapper .slick-prev,
.partnership_logos__wrapper .slick-prev {
  display: none !important;
}

.about__wrapper .slick-next,
.partnership_logos__wrapper .slick-next {
  font-size: 0px;
  background: none;
  border: none;
  outline: none;
  content: '';
  width: 28px;
  height: 28px;
  border-top: 2px solid #003b49;
  border-right: 2px solid #003b49;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 162px;
  right: -38px;
}

.partnership_logos__wrapper .slick-next {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

@media screen and (max-width: 1024px) {
  .partnership__text-wrapper,
  .partnership__image {
    width: 100%;
    margin: 0;
  }
  .partnership__image {
    margin-bottom: 30px;
  }
  .partnership_logos__wrapper .slick-next {
    right: -10px;
  }
}

.services__main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 100px 0 180px 0;
}

#projects {
  padding-top: 100px;
}

.services__title {
  top: 40%;
  top: 400px;
  left: -10px;
}

.services__wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0 0 0 15px;
  position: relative;
  min-height: 675px;
}

.services__wrapper h4 {
  margin: 0 0 28px 0;
  max-width: 410px;
}

.services__tabs {
  max-width: 410px;
  padding: 0 0 0 10px;
  float: right;
}

.services__image-wrapper {
  width: 65.625%;
  position: absolute;
  top: 0;
  left: 0;
}

.tab__item {
  font-size: 24px;
  line-height: 1.71em;
  font-weight: 500;
  cursor: pointer;
  display: block;
  margin: 0 0 10px 0;
}

.tab__item .plus {
  height: 16px;
  margin: 0 7px 0 0;
}

.tab__item .plus:after {
  width: 16px;
  left: -7px;
  top: 7px;
}

.tab__content {
  font-size: 18px;
  line-height: 1.429em;
  line-height: 30px;
  display: none;
  overflow: hidden;
  padding: 14px 21px 14px;
  margin: 0 0 30px 0;
}

.tab__content p {
  max-width: 92%;
}

.tab__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.single-post #menu-main-menu #menu-item-15 a,
.single-post #menu-single-menu #menu-item-15 a {
  color: #003b49 !important;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.hero__image {
  height: 70vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero__container {
  position: absolute;
  width: 100%;
  color: #fff;
  bottom: 0;
  padding-bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  /*padding-left: 8px;*/
}

.hero__container .location-title {
  font-size: 16px;
}
.hero__container .extra-info {
  font-size: 24px;
}

.hero__container h1 {
  margin-top: 15px;
}

.hero__container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 200%;
  bottom: -60%;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  z-index: -1;
}

.hero__section {
  height: 70vh;
  position: relative;
}
.hero__section:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0.2+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.project-intro-wrapper{
  margin-bottom: 4rem;
}

.b-accordion__trigger {
  font-size: 32px;
  text-align: left;
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  margin: 0 auto;
  padding: 63px 0;
  cursor: pointer;
  letter-spacing: 0.7px;
  width: 100%;
}

.b-accordion__trigger .container {
  position: relative;
}

.b-accordion__main-wrapper {
  background-color: #fff;
  position: relative;
}

/*.b-accordion__item {
  background-color: #ededed;
}*/

.b-accordion__item .b-accordion__trigger {
  color: #003b49;
}

.b-accordion__item .b-accordion__plus {
  background: #003b49;
}

.b-accordion__item .b-accordion__plus::after {
  background: #003b49;
}
.b-accordion__item {
  background-color: #EDEDED;
  padding-bottom: 40px;
}
.b-accordion__item:nth-child(even) {
  background-color: #003b49;
  color: #fff;
  padding-bottom: 0;
  /*margin: 40px 0;*/
}

.b-accordion__item:nth-child(even) .b-accordion__trigger {
  color: #fff;
}

.b-accordion__item:nth-child(even) .b-accordion__plus {
  background: #fff;
}

.b-accordion__item:nth-child(even) .b-accordion__plus::after {
  background: #fff;
}

.b-accordion__plus {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 35px;
  display: inline-block;
  height: 16px;
  width: 4px;
  margin: 0 0 0 3px;
  transition: 0.2s background ease-in-out;
  cursor: pointer;
}

.b-accordion__plus::after {
  content: "";
  height: 4px;
  left: -7px;
  position: absolute;
  top: 6px;
  width: 17px;
}

.b-accordion__plus.open {
  background-color: transparent !important;
}

/*.b-accordion__content {
  height: 0;
  transition: height 0.7s ease-in-out;
  overflow: hidden;
}*/

.b-accordion__content .change-font-size {
  font-size: 24px;
  line-height: 38px;
  /*margin-bottom: 76px;*/
  display: inline-block;
  width: 45%;
  letter-spacing: 0;
  max-width: 842px;
}
.b-accordion__content .change-font-size p {
  margin-bottom: 30px;
}

/*.b-accordion__content .container {
  padding-bottom: 113px;
}*/

.b-accordion__content.active {
  height: auto;
}

.posts__wrapper {
  position: relative;
  padding-top: 118px;
  background-color: #fff;
}

.posts__wrapper:before,
.posts__wrapper:after {
  content: '';
  display: table;
}

.posts__wrapper:after {
  clear: both;
}

.posts__wrapper::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #fff;
  z-index: 0;
}

.posts__nav {
  margin-bottom: 23px;
  position: relative;
}

.posts__nav:before,
.posts__nav:after {
  content: '';
  display: table;
}

.posts__nav:after {
  clear: both;
}

.posts__nav .prev-link {
  float: left;
}

.posts__nav .next-link {
  float: right;
}

.posts__img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.posts__thumbnails {
  position: relative;
  z-index: 1;
}

.posts__thumbnails:before,
.posts__thumbnails:after {
  content: '';
  display: table;
}

.posts__thumbnails:after {
  clear: both;
}

.posts__thumbnails .prev-link,
.posts__thumbnails .next-link {
  display: inline-block;
  width: 49%;
  padding-top: 37.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.posts__thumbnails .next-link {
  float: right;
}

.project-slider__image {
  padding-top: 72.2%;
  padding-top: 61.5%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-slider__wrapper.slick-slider,
.single-project-slider__wrapper.slick-slider {
  position: relative;
}

.project-slider__wrapper .slick-arrow,
.single-project-slider__wrapper .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 0;
  padding: 0;
  border: none;
  outline: none;
  height: 100%;
  width: 50%;
  z-index: 20;
  background: none;
}

.project-slider__wrapper .slick-prev,
.single-project-slider__wrapper .slick-prev {
  left: 0;
  cursor: url(../images/arrow-left.png), url(../images/arrow-left.cur), auto;
}

.project-slider__wrapper .slick-next,
.single-project-slider__wrapper .slick-next {
  right: 0;
  cursor: url(../images/arrow-right.png), url(../images/arrow-right.cur), auto;
}

.carousel__main-wrapper {
  position: relative;
  z-index: 10;
}

.carousel__main-wrapper .slick-slide {
  margin: 0 15px;
  cursor: url(../images/cursor-blue.png), url(../images/cursor-blue.cur), auto;
}

.carousel__container {
  width: 1310px;
  margin: 0 auto;
}

.carousel__container:before,
.carousel__container:after {
  content: '';
  display: table;
}

.carousel__container:after {
  clear: both;
}

.controls-wrapper {
  padding: 0 15px;
  margin-bottom: 20px;
}

.controls-wrapper:before,
.controls-wrapper:after {
  content: '';
  display: table;
}

.controls-wrapper:after {
  clear: both;
}

.controls-wrapper .prev-link {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.controls-wrapper .next-link {
  float: right;
  cursor: pointer;
}

.car-link {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 6.66%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title-span {
  line-height: 1.1em;
}

@media (max-width: 1400px) {
  .container {
    width: 990px;
  }

  .services__wrapper,
  .simple-content__wrapper {
    width: 990px;
  }

  .size-full.alignright {
    margin: 0 0 40px 20px;
  }

  .member-item__description {
    width: auto;
  }

  .projects__main-wrapper {
    padding: 20px 0 50px;
  }

  .projects__item.medium-width {
    width: 100%;
  }

  .projects__item.small-width {
    width: calc(50% - 19px);
  }

  .grid-sizer {
    width: calc(50% - 19px);
  }

  .contact__text-wrapper {
    margin-bottom: 30px;
  }

  /*.intro-section__text-wrapper {
    max-width: 990px;
  }*/

  .about__main-wrapper {
    padding: 45px 0 50px;
  }

  .about__content-wrapper {
    padding: 25px;
  }

  .about__wrapper .slick-slide {
    width: 288px;
  }

  .about__wrapper .slick-next {
    width: 22px;
    height: 22px;
    top: 100px;
    right: -25px;
  }

  .services__main-wrapper {
    padding: 103px 0 110px;
  }

  .services__wrapper {
    min-height: 600px;
  }

  .services__tabs {
    max-width: 310px;
    padding: 0;
  }

  .services__image-wrapper {
    width: 60%;
    right: 29px;
  }

  .tab__content {
    padding: 12px 17px 12px;
    margin: 0 0 40px 0;
  }

  .carousel__container {
    width: 1020px;
  }
}

@media (max-width: 1200px) {
  .projects__main-wrapper {
    padding: 20px 0 30px;
  }

  .services__main-wrapper {
    padding: 103px 0 103px;
  }

  .services__title {
    left: -20px;
  }

  .services__wrapper {
    min-height: 525px;
  }

  .services__tabs {
    padding: 0 0 0 16px;
  }

  .tab__content {
    padding: 10px 14px 10px;
    margin: 0 0 20px 0;
  }

  .contact__text-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 720px;
  }

  #projects {
    display: inline-block;
    width: 100%;
  }

  .services__wrapper,
  .simple-content__wrapper {
    width: 720px;
  }

  footer.page-main {
    padding: 40px 0 30px;
  }

  footer.page-main::before {
    top: -49px;
    height: 50px;
  }

  .footer__social-wrapper {
    margin: 0;
  }

  /*#menu-main-menu .menu-item a {
    font-size: 40px;
  }*/

  .col-3-item {
    width: 100%;
    float: none;
    margin: 0;
    padding-top: 0;
  }

  /*.contact__map {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    height: 550px;
  }

  .contact__text-wrapper {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0 0 25px;
  }*/

  .contact__text-wrapper h4 {
    margin: 0 0 30px 0;
  }

  .contact__text-wrapper .change-font-size,
  .contact__text-wrapper .change-font-size a {
    font-size: 24px;
  }

  .section__title {
    display: none;
  }

  .projects__item.medium-width {
    width: 100%;
  }

  .projects__item.small-width {
    width: 330px;
  }

  .intro-section__logo {
    width: 450px;
    height: 85px;
  }

  .intro-section__logo img {
    width: 450px;
  }

  /*.intro-section__text-wrapper {
    max-width: 720px;
  }*/

  /*.intro-section__text-wrapper p {
    max-width: 65%;
  }*/

  .scroll-item {
    display: none;
  }

  .about__content-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .about__wrapper {
    padding-left: 112px;
  }

  .services__main-wrapper {
    padding: 50px 0 90px;
  }

  .services__wrapper {
    min-height: auto;
  }

  .services__tabs {
    padding: 0;
    max-width: 285px;
  }

  .services__image-wrapper {
    width: 56%;
    right: 0;
  }

  .tab__item {
    font-size: 28px;
  }

  .tab__content {
    padding: 4px 14px;
    margin: 0 0 10px 0;
  }

  .tab__content p {
    max-width: 100%;
  }

  .b-accordion__content .change-font-size {
    margin-bottom: 10px;
  }

  .posts__wrapper {
    padding-top: 90px;
  }

  .carousel__container {
    width: 750px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 680px;
  }

  .services__wrapper,
  .simple-content__wrapper {
    width: 680px;
  }

  .change-font-size {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 100%;
  }

  .simple-content__projects-page .change-font-size {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 100%;
  }

  /*.intro-section__text-wrapper {
    max-width: 680px;
  }*/

  .about__wrapper {
    padding-left: 69px;
  }

  .carousel__container {
    width: 710px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 90%;
  }

  .services__wrapper,
  .simple-content__wrapper {
    width: 90%;
  }
  .simple-content__wrapper {
    width: 100%;
  }

  h1 {
    font-size: 39px;
  }

  h4 {
    font-size: 18px;
  }

  footer.page-main {
    padding: 32px 0 20px;
  }

  footer.page-main::before {
    top: -39px;
    height: 40px;
  }

  /*header.page-main.bg-transparent .logo__wrapper {
    width: 181px;
  }*/

  header.page-main.bg-transparent {
    padding-top: 26px !important;
  }

  header.page-main.change-bg-style {
    padding-top: 26px !important;
  }

  .simple-content__wrapper {
    padding: 120px 15px 50px;
  }

  .project-inner-nav ul li {
    margin-right: 15px;
  }
  .project-inner-nav ul li:last-child {
    margin: 0;
  }

  .hero__section,
  .hero__image {
    height: 100vh;
  }

  .office-left-image {
    min-height: auto !important;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .contact__map {
    height: 450px;
  }

  .contact__map {
    -webkit-flex: 0 0 92%;
        -ms-flex: 0 0 92%;
            flex: 0 0 92%;
    max-width: 92%;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact__text-wrapper {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .contact__text-wrapper .change-font-size {
    padding-left: 0;
  }

  .contact__text-wrapper .change-font-size,
  .contact__text-wrapper .change-font-size a {
    font-size: 24px;
  }

  .projects__item.small-width {
    min-width: 200px;
    width: calc(50% - 10px);
    width: 100%;
  }

  .projects__item.small-height {
    padding-top: 0;
    height: 175px;
    min-width: 100px;
    width: calc(50% - 10px) !important;
  }

  .projects__item.medium-height {
    padding-top: 0;
    height: 250px;
  }

  .projects__item.full-height {
    padding-top: 0;
    height: 508px;
    height: 250px;
  }

  .projects__item-info {
    display: none;
  }

  .controls-wrapper span {
    font-size: 18px;
  }

  .grid-sizer {
    width: calc(50% - 10px);
  }

  .change-to-dropdown {
    padding: 0;
    position: relative;
    z-index: 10;
    text-align: left;
    height: 43px;
  }

  .change-to-dropdown button {
    display: none;
    text-align: left;
    padding: 9px 12px;
    z-index: 2;
    height: 43px;
    width: 100%;
  }

  .change-to-dropdown button:not(.active) {
    background: #fff;
  }

  .change-to-dropdown .active-btn {
    display: block !important;
  }

  .change-to-dropdown .dropdown-icon {
    display: inline-block;
  }

  .remove-item {
    display: none !important;
  }

  .intro-section__logo {
    width: 400px;
    height: 75px;
  }

  .intro-section__logo img {
    width: 400px;
  }

  /*.intro-section__text-wrapper {
    width: 90%;
  }*/

  .intro-section__text-wrapper p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    max-width: 460px;
  }

  .about__main-wrapper {
    padding: 40px 0 40px;
  }

  .about__wrapper {
    padding-left: 0px;
    float: right;
    width: 350px;
  }

  .about__wrapper .slick-slide {
    width: 350px;
  }

  .about__wrapper .slick-next {
    width: 13px;
    height: 13px;
    right: -14px;
    top: 200px;
  }

  .services__wrapper {
    padding: 0;
  }

  .services__tabs {
    padding-bottom: 40px;
    max-width: none;
    margin-top: 30px;
  }

  .services__image-wrapper {
    width: 100%;
    position: relative;
    padding-top: 80%;
  }

  .projects__tittle {
    display: block;
    position: static;
    transform: unset;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #003b49;
  }

  .tab__item {
    font-size: 24px;
    font-weight: 500;
  }

  .tab__item .plus {
    height: 12px;
  }

  .tab__item .plus:after {
    width: 12px;
    left: -5px;
    top: 5px;
  }

  .hero__container {
    padding-left: 0;
  }

  .b-accordion__trigger {
    padding: 40px 0;
    font-size: 25px;
  }

  .b-accordion__content .change-font-size {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 100%;
  }

  .posts__wrapper {
    padding-top: 60px;
  }

  .posts__nav a {
    font-size: 14px;
    font-weight: bold;
  }

  .posts__img {
    width: 27px;
  }

  .posts__thumbnails .prev-link,
  .posts__thumbnails .next-link {
    width: 46%;
  }

  .carousel__container {
    width: calc(90% + 30px);
  }

  .controls-wrapper a {
    font-size: 14px;
    font-weight: bold;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  header.page-main nav {
    height: 100vh;
    overflow-y: auto;
  }
}

@media (max-width: 480px) {
  .contact__text-wrapper .change-font-size,
  .contact__text-wrapper .change-font-size a {
    font-size: 24px;
  }

  .projects__item {
    margin-bottom: 15px;
  }

  .intro-section__logo {
    width: 300px;
    height: 56px;
  }

  .intro-section__logo img {
    width: 300px;
  }

  .about__wrapper {
    width: 270px;
    margin-right: 8px;
  }

  .about__wrapper .slick-slide {
    width: 270px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .project-slider__wrapper .slick-next,
  .single-project-slider__wrapper .slick-next {
    cursor: url("../arrow-right.cur"), auto;
  }
}

@media screen and (min-width: 1500px) {
  .home .change-font-size,
  .home .change-font-size a,
  .page-template-tpl-projects .change-font-size {
    font-size: 24px;
    line-height: 38px;
  }
}


.projects__link {
  font-size: 18px !important;
  color: #BBBBBB !important;
}
.btn__show-more {
  margin-top: 30px;
}

.text__show-more {
  display: none;
}

.section-title {
  font-size: 16px;
  margin-bottom: 40px;
}



.row {
  display: inline-block;
  width: 100%;
}
.project-inner-nav {
  background-color: rgba(0, 59, 73, 0.9);
  margin-top: 40px;
  margin-bottom: -50px;
}
.project-inner-nav ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}
.project-inner-nav ul li {
  display: inline-block;
  margin-right: 30px;
}
.project-inner-nav ul li a {
  color: white;
  padding-left: 22px;
  position: relative;
}
.project-inner-nav ul li a:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 15px;
  left: 0;
  top: 2px;
  background-image: url(../images/down-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.related-all-link {
  padding-left: 15px;
  margin-top: 20px;
}
.single-office-image {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.single-office-image img {
  width: 100%;
}
.single-sidebar p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}

.residential-bottom .single-office-image {
  width: 100%;
}

.single-office-image {
  background-size: cover;
  background-position: center;
}
.office-left-image {
  min-height: 300px;
}

.office-image-wrapper .change-font-size p {
  font-size: 14px;
  line-height: 20px;
}
.office-image-wrapper .change-font-size p:first-child {
  font-size: 24px;
  line-height: 38px;
}

.single-office-image .project-slider__wrapper,
.single-office-image .single-project-slider__wrapper,
.single-office-image .slick-list,
.single-office-image .slick-track,
.single-office-image .project-slider__item,
.single-office-image .project-slider__image {
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .single-office-image {
    min-height: 440px;
  }
}
@media screen and (min-width: 1401px) {
  .single-office-image {
    min-height: 550px;
  }
}

@media screen and (min-width: 768px) {
  .single-sidebar {
    width: 33%;
    float: right;
  }
  .office-image-wrapper {
    display: flex;
  } 
  .office-left-image {
    margin-right: 40px;
  }
  .single-office-image {
    width: 50%;
  }

  /* one third */
  .office-image-wrapper.onethird .office-left-image,
  .retail-content.office-image-wrapper .office-left-image,
  .residential-content.office-image-wrapper .office-right-image {
    width: 33%;
  }
  .office-image-wrapper.onethird .office-right-image,
  .retail-content.office-image-wrapper .office-right-image,
  .residential-content.office-image-wrapper .office-left-image {
    width: 67%;
  }
  
  /* two thirds */
  .office-image-wrapper.twothirds .office-left-image {
    width: 67%;
  }
  .office-image-wrapper.twothirds .office-right-image {
    width: 33%;
  }

  .office-left-image .change-font-size {
    width: 100%;
  }

  .retail-content .single-office-image,
  .residential-content .single-office-image {
    margin-top: 0;
    margin-bottom: 0;
  }
  .retail-content .office-left-image .change-font-size {
    width: 80%;
  }
  .residential-content {
    justify-content: space-between;
  }
  .residential-content .office-right-image {
    flex: 1 0 33%;
  }
  .residential-content .office-left-image {
    margin-right: 0;
    margin-left: 20%;
    flex: 1 0 20%;
  }
}

main.content.fixed {
  margin-top: 80px;
}

nav a:hover,
.controls-wrapper a:hover,
.project-inner-nav ul li a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-template-tpl-projects .projects__tittle {
  display: none;
}

@media screen and (max-width: 767px) {
  .page-template-tpl-projects .projects__main-wrapper .container {
    width: 100%;
    padding: 0 15px;
  }
  .change-to-dropdown button {
    padding-left: 0;
    padding-right: 0;
  }
  .change-to-dropdown .dropdown-icon {
    right: 0;
  }
}
